
<!--
<div class="container">
  <input class="input-field" type="text" [(ngModel)]="address" placeholder="Enter an address">
  <button class="visualize-button" (click)="visualizeTransactions(address)">Visualize</button>
</div>
<div id="container"></div>
-->


<div class="container">
  <input class="input-field" type="text" [(ngModel)]="address" placeholder="Enter an address">
  <button class="visualize-button" (click)="visualizeTransactions(address)">Visualize</button>
</div>
<div id="container" class="canvas-container"></div>


